.home__hero-section {
    color: #fff;
    padding: 100px 0;
  }
  
  .home__hero-row {
    align-items: center;
  }
  
  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
  
.col-4{
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 33%;
  flex-basis: 33%;
  align-items: center;
  justify-content: center;
}


  .home__hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .top-line {
    color: #f00946;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-shadow: 0 2px 15px #000;
  }
  
  .heading {
    margin-bottom: 24px;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 600;
    color: #26EF7B;
    font-family: 'RetroComputer';
    text-shadow: 0 2px 15px #000;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #2f2f2f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23685f5f' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  .home__hero-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }
  
  .home__hero-img-wrapper {
    max-width: 555px;
  }
  
  .home__hero-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }

    .col-4 {
      max-width: 100%;
      flex-basis: 100%;
    }

  }

/* Social Icons */
.social-icon-link-heading {
  color: #fff;
  font-size: 34px;
}

.social-icon-link-heading:hover {
  color: #26EF7B;

}

/* =====  Glitch txt FX  ===== */

.glitch {
  color: white;
  font-family: 'RetroComputer';
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px;
}
.glitch::before, .glitch::after {
  padding: 30px;
  color: white;
  content: "pixel";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  top: 0;
}
.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(99px, 350px, 31px, 30px);
  }
  5% {
    clip: rect(117px, 350px, 76px, 30px);
  }
  10% {
    clip: rect(118px, 350px, 119px, 30px);
  }
  15% {
    clip: rect(61px, 350px, 15px, 30px);
  }
  20% {
    clip: rect(144px, 350px, 58px, 30px);
  }
  25% {
    clip: rect(86px, 350px, 69px, 30px);
  }
  30% {
    clip: rect(125px, 350px, 114px, 30px);
  }
  35% {
    clip: rect(90px, 350px, 126px, 30px);
  }
  40% {
    clip: rect(86px, 350px, 60px, 30px);
  }
  45% {
    clip: rect(83px, 350px, 34px, 30px);
  }
  50% {
    clip: rect(115px, 350px, 119px, 30px);
  }
  55% {
    clip: rect(32px, 350px, 135px, 30px);
  }
  60% {
    clip: rect(149px, 350px, 110px, 30px);
  }
  65% {
    clip: rect(102px, 350px, 52px, 30px);
  }
  70% {
    clip: rect(112px, 350px, 68px, 30px);
  }
  75% {
    clip: rect(128px, 350px, 122px, 30px);
  }
  80% {
    clip: rect(5px, 350px, 91px, 30px);
  }
  85% {
    clip: rect(78px, 350px, 124px, 30px);
  }
  90% {
    clip: rect(99px, 350px, 143px, 30px);
  }
  95% {
    clip: rect(6px, 350px, 51px, 30px);
  }
  100% {
    clip: rect(23px, 350px, 1px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(107px, 350px, 87px, 30px);
  }
  5% {
    clip: rect(88px, 350px, 65px, 30px);
  }
  10% {
    clip: rect(125px, 350px, 75px, 30px);
  }
  15% {
    clip: rect(124px, 350px, 95px, 30px);
  }
  20% {
    clip: rect(42px, 350px, 109px, 30px);
  }
  25% {
    clip: rect(103px, 350px, 78px, 30px);
  }
  30% {
    clip: rect(98px, 350px, 149px, 30px);
  }
  35% {
    clip: rect(28px, 350px, 143px, 30px);
  }
  40% {
    clip: rect(101px, 350px, 48px, 30px);
  }
  45% {
    clip: rect(104px, 350px, 76px, 30px);
  }
  50% {
    clip: rect(123px, 350px, 29px, 30px);
  }
  55% {
    clip: rect(56px, 350px, 38px, 30px);
  }
  60% {
    clip: rect(91px, 350px, 119px, 30px);
  }
  65% {
    clip: rect(65px, 350px, 79px, 30px);
  }
  70% {
    clip: rect(29px, 350px, 7px, 30px);
  }
  75% {
    clip: rect(29px, 350px, 20px, 30px);
  }
  80% {
    clip: rect(16px, 350px, 125px, 30px);
  }
  85% {
    clip: rect(35px, 350px, 130px, 30px);
  }
  90% {
    clip: rect(107px, 350px, 89px, 30px);
  }
  95% {
    clip: rect(85px, 350px, 110px, 30px);
  }
  100% {
    clip: rect(35px, 350px, 84px, 30px);
  }
}