.home__two-section {
    color: #fff;
    padding: 150px 0;
  }
  
  .home__hero-row {
    align-items: center;
  }
  
  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
  
  .home__hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .top-line {
    color: #26EF7B;
    font-size: 30px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: 'RetroComputer';
  }
  
  .heading {
    margin-bottom: 24px;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 600;
    color: #26EF7B;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #1f1f1f;
  }
  
  .home__hero-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    line-height: 1.4;
  }
  
  .home__hero-img-wrapper {
    max-width: 555px;
  }
  
  .home__hero-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }

/* Social Icons */
.social-icon-link-heading {
  color: #fff;
  font-size: 34px;
}

.social-icon-link-heading:hover {
  color: #26EF7B;
  
}

.twoSkillsList ul{
    font-size: 40px;
    list-style: none;
    line-height: 1.8;
}

.twoSkillsList h4{
    font-family: 'RetroComputer';
    /*text-shadow: 0 2px 15px #26EF7B;*/
}

.ml-3{
  margin-left: 30px;
}

/* =========== */




.twoSkillsList .ml-3{
    text-shadow: 1px 1px 5px #26EF7B;
    animation-name: shadow-anim;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shadow-anim
{
  0% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  10% {
    text-shadow : none;
  }
  15% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  20% {
    text-shadow : none;
  }
  25% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  50% {
    text-shadow : none;
  }
  65% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  70% {
    text-shadow : none;
  }
  75% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  85% {
    text-shadow : none;
  }
  99% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
}

@-webkit-keyframes shadow-anim
{
  0% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  10% {
    text-shadow : none;
  }
  15% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  20% {
    text-shadow : none;
  }
  25% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  50% {
    text-shadow : none;
  }
  65% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  70% {
    text-shadow : none;
  }
  75% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  85% {
    text-shadow : none;
  }
  99% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
}

@-moz-keyframes shadow-anim
{
  0% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  10% {
    text-shadow : none;
  }
  15% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  20% {
    text-shadow : none;
  }
  25% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  50% {
    text-shadow : none;
  }
  65% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  70% {
    text-shadow : none;
  }
  75% {
    text-shadow: 3px 3px 5px #26EF7B;
  }
  85% {
    text-shadow : none;
  }
  99% {
    text-shadow: 3px 3px 5px #26EF7B;
  } 
}
